<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home Page</h1>
        <a type="button" class="btn btn-primary" href="/api/database">Article page</a>
        <a type="button" class="btn btn-primary" href="/api/database/scrape">Data</a>
    </div>
</div>